

:root
{
--white: #ffffff;
--text: rgb(10,65,60);
}

{
  box-sizing: border-box;
}

body {
  background-color:var(--white);
  margin: 0%;
  padding: 0% ;

}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:var(--white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(6, 8, 5);
  font-family: "Open Sans";


  

}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 0px;
}

header nav ul  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 1.55vw;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

 .button {
  font-size: 1rem;
  letter-spacing: 1px;
  width: 100%;
  font-family: sans-serif;
  text-transform:lowercase;
  color:rgb(0, 0, 24);
  background-color: rgb(255, 255, 255);
  cursor:pointer;
  transition-duration: 10ms;
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


}
 
.button:hover {
  background-color: #f80000;
  color: rgb(255, 255, 255);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.hero {

  font-family: "Open Sans";
  padding: 10%;
  color: var(--text);
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;


}
.logo {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;}

.page
{
font-family: "Open Sans" ;
  text-align:center;
  color: var(--text);
  width: 80%;
  font-size: 2vw;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2cm;
}

h5

{width: 500px;
  padding: 0px;
  margin: 10px;
  font-size:medium;
  font-family: "Open Sans";
  color: var(--text);
  display: inline-block;
}

p

{font-family: "Open Sans";}

h1 
{width: 500px;
  padding: 0px;
  margin: 10px;
  font-size:1cm;
  font-family: "Open Sans";
  color: var(--text);
  display: inline-block;
}

h6
{
  padding:10px;
  margin: 10px;
  font-size:1cm;
  font-family: "Open Sans";
  color: var(--text);
text-align: center;
}


.logo
 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* flexbox*/

.row 
{
  padding:10px;
  display:flex;
  flex-flow: row;
  font-family: "Open Sans";
  font-size: large;
  text-align: center;
}

.main

{background-image: url("../images/program.jpg") }

.side

{background-image: url("../images/02-portfolio-3.jpg") }
  
.side2

{background-image: url("../images/02-portfolio-3.jpg") }

 



/*text */






.img {
  background-color: #aaa;
 }

/*contact*/

.social {
  
  font-size:medium;
  padding: 1%;
  text-align:center;
  color: var(--text);

}
/*footer*/


footer {

  font-size:medium;
  padding: 1%;
  text-align: end;
  color: var(--text);
}

@media screen and (max-width: 700px)